name: FreeBSD-based build

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: build in FreeBSD
      uses: vmactions/freebsd-vm@v0.1.4
      with:
        usesh: true
        prepare: pkg install -y cmake
        run: |
          mkdir build
          cd build
          cmake --trace-expand --trace-output=CMakeTrace.log -DCMAKE_BUILD_TYPE=Debug ..
          make VERBOSE=1
          make VERBOSE=1 test

    - name: save failures report
      if:   failure()
      uses: actions/upload-artifact@v2
      with:
        name: freebsd-error-report
        path: |
          build/**/*.log
          build/Testing/Temporary/LastTest.log
          build/**/*.expectedout
          build/**/*.stdout
          build/**/*.stderr
